/*login*/
.login .logos {
  text-align: center;
  margin-bottom: 25px;
}

.login .logos .image {
  width: 80px;
  height: 80px;
  background: #d00807;
  display: inline-block;
  border-radius: 6px;
  line-height: 80px;
  position: relative;
}

.login .logos .image img {
  width: 65px;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.login .list .button {
  margin-top: 0;
}

.login .forgot-link {
  margin-top: 20px;
}

.login .register-link a {
  color: #d00807;
  text-decoration: underline;
}

.register-link {
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
